[General]
unpack=true

# armhf is supported by ARM Cortex-A and above (v7). Raspberry PI 2 only
arch=armhf

# remove downloaded apt-packages afterwards
cleanup=true

# sections listed as bootstrap will have their packages installed;
# aptsources are added to the final system
bootstrap=Debian; Jessie_collabora
aptsources=Debian; Jessie_collabora

# we're using jessie for now
suite=jessie

[Debian]
packages=apt apt-transport-https
source=http://http.debian.net/debian/
keyring=debian-archive-keyring
suite=jessie

; [Jessie_collabora]
; components=rpi2
; # these are the minimal packages to get the image to boot
; packages=linux-image-3.18.0-trunk-rpi2 raspberrypi-bootloader-nokernel
; source=https://repositories.collabora.co.uk/debian/
; keyring=collabora-obs-archive-keyring
; suite=jessie
