[General]
unpack=true

# armhf is supported by ARM Cortex-A and above (v7). Raspberry PI 2 only
arch=armhf

# remove downloaded apt-packages afterwards
cleanup=true

# sections listed as bootstrap will have their packages installed;
# aptsources are added to the final system
bootstrap=Debian Jessie_collabora
aptsources=Debian Jessie_collabora

# we're using jessie for now
suite=jessie

# sadly, we have to enable this for Jessie_collabora to work
noauth=true

[Debian]
# our base configuration should be just enough to get the pi on to a network
# (hopefully automatically), install other packages and log in remotely
packages=apt apt-transport-https openssh-server iproute2 ca-certificates wpasupplicant iputils-ping ifupdown openntpd rng-tools
source=http://http.debian.net/debian/
keyring=debian-archive-keyring
suite=jessie

[Jessie_collabora]
components=rpi2
packages=linux-image-3.18.0-trunk-rpi2
source=https://repositories.collabora.co.uk/debian/
keyring=collabora-obs-archive-keyring
suite=jessie
