[Unit]
Description=Generates missing ssh_host_*_keys.
Type=oneshot
After=rng-tools.service

[Service]
ExecStart=/usr/bin/ssh-keygen -A

[Install]
WantedBy=multi-user.target
