[Unit]
Description=Generates missing ssh_host_*_keys.
After=rng-tools.service

[Service]
Type=oneshot
ExecStart=/usr/bin/ssh-keygen -A

# note: this is required, otherwise systemd will complain about starts and
# stops that are too fast
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
