[Unit]
Description=Generates missing ssh_host_*_keys.
After=rng-tools.service

[Service]
Type=oneshot
ExecStart=/usr/bin/ssh-keygen -A

[Install]
WantedBy=multi-user.target
