[Unit]
Description=Generates a new /etc/issue containing the host keys
After=generate-host-keys.service
Requires=generate-host-keys.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/genissue

[Install]
WantedBy=multi-user.target
