[Unit]
Description=/etc/issue generation
After=networking.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/genissue

[Install]
WantedBy=multi-user.target
